@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root {
    --main-color: #26908C;
    --main-bg-color: #f0f0f0;
}

.btn-primary {
    background-color: var(--main-color) !important;
    color: white !important;
    border: none !important;
}


::-webkit-scrollbar {
    overflow-y: hidden !important;
    display: none !important;

}


body {
    background-color: var(--main-bg-color);
    max-width: 700px !important;
    margin: auto;


}

#loading {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100vw;
    height: 100vh;
    background-color: rgb(255 255 255 / 99%);
}

#spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--main-color);
}



a {
    text-decoration: none;
}

/************* navbar  **********************/
.navbar {

    background-color: var(--main-bg-color) !important;
}


.user-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.user-container .user-name {
    padding-bottom: 10px;
    font-weight: 700;
    font-size: 19px;
}

.user-container span:first-child {
    font-size: 13px;
    color: #8a8a8a;
    font-weight: 600;
}

.user-imge-container {
    width: 45px;
    height: 45px;
    border-radius: 9999px;

}

.user-imge-container img {
    width: 100%;
    height: 100%;
    border-radius: 9999px;
}

/************* footer  **********************/
footer {
    position: fixed;
    bottom: 10px;
    left: 0;
    right: 0;
    background-color: white !important;
    width: 97%;
    margin: 0px auto;
    align-items: center;
    border-radius: 50px;
    border: 1px solid #eaeaea;

}

footer ul {
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    font-size: 20px;

}

footer ul li a i {
    color: #4a4a4a;

}

.add-recipe-icon a i {
    border: 1px solid white;
    color: var(--main-color) !important;
    border-radius: 100%;
    transform: scale(2.3);

}

li.nav-item.add-recipe-icon {
    margin-top: -5px;
}


main#app {
    margin-bottom: 100px;
}

.offcanvas {
    border: none !important;
}

.offcanvas-bottom {
    height: 100% !important;
}

/************* search  **********************/
.search-field {
    margin: 10px 10px !important;

}

.search-field .input-group {
    background-color: white;
    border-radius: 9999px !important;
    border: none !important;
    color: white;
    box-shadow: 0.3rem 0.125rem 0.34rem rgba(0, 0, 0, .075) !important;
}

.search-field .input-group button {
    background: transparent;
    border-right: none !important;
    border-radius: 50%;
    border: none !important;
}

.search-field .input-group input {

    border-left: none !important;
    border: none !important;
    outline: none !important;
    border-top-right-radius: 9999px !important;
    border-bottom-right-radius: 9999px !important;
    background-color: white !important;

}

/************* recommend-recipes  **********************/

.recommend-recipes {

    margin: 20px 0px !important;

}



.recommend-recipes>strong {
    margin: 0px 10px;
    font-size: 14px;
}


.recommend-recipes-row .card {
    background-color: var(--main-color) !important;
    min-height: 235px !important;
    margin: 30px;
    width: 150px !important;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0.3rem 0.125rem 0.34rem rgb(0 0 0 / 20%) !important;
    transition: all 1s ease-in-out;

}

.recommend-recipes-row .card.slick-center {
    transform: scale(1.1);

}

.recommend-recipes-row .card .card-body {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.recommend-recipes-row .card .card-image-container {
    position: absolute;
    right: -5px;
    top: 15px;
    height: 125px;
    width: 125px;
    border-radius: 9999px;
    overflow: hidden;
    box-shadow: 0.35rem 0.125rem 0.34rem rgb(0 0 0 / 60%) !important;
}

.recommend-recipes-row .card .card-image-container img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}






.recommend-recipes-row .card .card-body .card-title {
    font-size: 13px;
    color: white;
    overflow: hidden;
    vertical-align: middle;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    font-weight: 600;
}

.recommend-recipes-row .card .card-body .recipe-kcal-Time {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #bcbcbc;
    font-size: 13px;
}

.slick-track {
    margin: 0 !important;
}

/************* header && see see all  **********************/
.header {
    margin: 10px 1px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;

}

.header .see-all {
    color: var(--main-color);
}

/************* categories  **********************/
.categories .categories-row::-webkit-scrollbar {
    overflow: hidden;
    display: none;
}

.categories {
    margin: 20px 0px;
}

.categories .header {
    margin: 10px;
}

.categories .categories-row {
    display: flex;
    align-items: center;
    overflow: scroll;
}



.categories .category {
    margin: 10px 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 50px;
    background-color: white;
    border-radius: 50px;
    padding: 20px 10px 20px 7px;
    box-shadow: 0.3rem 0.125rem 0.34rem rgba(0, 0, 0, .075) !important;
}


.categories .category .image-container {
    text-align: center;
    margin-right: 8px;
    width: 40px;
    height: 40px;
    border-radius: 100%;
}

.categories .category .image-container img {
    width: 90%;
    border-radius: 100%;

}

.categories .category .title {
    color: rgb(0, 0, 0);
    font-size: 14px;
    font-weight: 600;
}

.category.active--category {

    background-color: var(--main-color) !important;
}

.category.active--category>div {
    background-color: #fff;
}

.category.active--category>span {
    color: black !important;
}


/************* top Recipes  **********************/
.top-recipes .header {
    margin: 10px;
}

.top-recipes-row {
    margin: 15px 15px 25px 40px;
}

.top-recipe-item {
    margin: 35px 10px;
    position: relative;
    background-color: white;
    height: 107px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    box-shadow: 0.3rem 0.125rem 0.34rem rgb(0 0 0 / 8%) !important;
    flex-direction: row;
    text-decoration: none;
    width: 95%;
}

.top-recipe-item .image-container {
    margin-left: -30px;
    height: 120px;
    width: 120px;
    border-radius: 9999px;
    box-shadow: 0.3rem 0.125rem 0.34rem rgb(0 0 0 / 70%) !important;

}

.top-recipe-item .image-container img {
    height: 100%;
    width: 100%;
    border-radius: 9999px;

}

.top-recipe-item .top-recipe-item-details {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 70%;
}

.top-recipe-item .top-recipe-item-details .title {
    padding: 5px;
    font-size: 16px;
    color: black;
    overflow: hidden;
    vertical-align: middle;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    margin-bottom: 15px;
    text-align: center;
}

.top-recipe-item .top-recipe-item-details .recipe-kcal-Time {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: rgb(151, 151, 151) !important;
    font-size: 14px;

}


/************* top-recipe-offcanvas  **********************/

.top-recipe-offcanvas .offcanvas-body::-webkit-scrollbar {
    overflow: hidden;
    display: none;
    z-index: 796896896896896789898;
}

.top-recipe-offcanvas {
    width: 100% !important;
    border: none !important;
}


.top-recipe-offcanvas .offcanvas-header {
    z-index: 12 !important;
    color: white !important;
    margin: 0px !important;
    padding: 0px !important;
    min-height: 35% !important;
    position: relative;
}

.top-recipe-offcanvas .offcanvas-header .header-btns {
    position: absolute;
    top: 14px;
    z-index: 4234343;
    left: 10px;
    right: 10px;
    display: flex;
    justify-content: space-between;
}

.image-container {
    position: relative;
}

.top-recipe-offcanvas .offcanvas-header .image-container img {
    object-fit: cover;
}

.image-container,
.image-container img,
.image-container label {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    height: 100%;
    width: 100%;


}

.top-recipe-offcanvas .offcanvas-header .back-btn,
.fav-btn {
    background-color: var(--main-bg-color);
    color: black;
    width: 40px !important;
    height: 40px !important;
    line-height: 40px;
    padding: 0px !important;
    border: none;
    text-align: center;
    border-radius: 9999px;

}

.top-recipe-offcanvas .offcanvas-header .back-btn,
.fav-btn i {
    font-size: 19px;
    font-weight: bold;
}

.btn-fav {
    position: absolute;
    top: -13px;
    right: 14px;
    background-color: var(--main-color);
    color: white !important;
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075) !important;
}

.top-recipe-offcanvas .offcanvas-body {
    z-index: 98989999999999999999999 !important;
    padding: 0 !important;
    margin-top: -42px;

}




.offcanvas-recipe-details {
    margin-bottom: 30px;
    height: 100%;
    background-color: white;
    padding: 10px 15px 30px 15px;
    color: black;

}

.offcanvas-recipe-details-header {
    width: 90%;
    text-align: center;
    margin: 16px 20px;

}

.offcanvas-recipe-details-header .card {
    border-radius: 15px;
    border: none !important;
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075) !important;

}

.offcanvas-recipe-details-header .card .card-body {
    margin-top: 20px;
    padding: 0.5rem;
}

.offcanvas-recipe-details-header .header-border {
    border: 2px solid #cbcbcb85 !important;
    width: 16%;
    border-radius: 15px;
    margin-top: 10px;
}

.offcanvas-recipe-details-header .recipe-label {

    font-size: 16px;
    font-weight: 600;
    text-align: center;
}

.offcanvas-recipe-details-header .recipe-time-kcal {
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 90%;
    align-content: center;
    align-items: center;
}

.offcanvas-recipe-details-header .recipe-time-kcal i {
    font-size: 19px;
    color: #ffb81e;
}

.offcanvas-recipe-details-header .recipe-time-kcal>div {
    display: flex;
    align-items: center;
    align-items: center;
    gap: 9px;
}

.offcanvas-recipe-details-header .recipe-time-kcal .recipe-time-kcal-border {
    border-left: 1px solid rgb(58, 58, 58) !important;
    height: 30px;
}

.offcanvas-recipe-details .nutrients {
    margin: 10px 20px 30px 20px;
}

.offcanvas-recipe-details .nutrients .nutrition-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: black;
    justify-content: space-between;
    font-size: 16px;
}

.offcanvas-recipe-details .nutrients .nutrition-row .nutrition-element {
    display: flex;
    flex-direction: row;
}

.offcanvas-recipe-details .nutrients .nutrition-row .nutrition-element .image-container {

    margin-right: 10px;
    margin-bottom: 8px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    background-color: var(--main-bg-color);
    border-radius: 5px;
}

.offcanvas-recipe-details .nutrients .nutrition-row .nutrition-element .image-container img {
    width: 20px;
    height: 20px;
}

.ingredients {
    padding-bottom: 40px;

}

.ingredients .nav {
    background-color: var(--main-bg-color);
    border-radius: 50px;
    width: 100%;

}

.ingredients .nav .nav-item {
    width: 50%;
    padding: 5px;
}

.ingredients .nav .nav-item .nav-link {
    width: 100%;
    background-color: transparent !important;
    border-radius: 50px;
    color: black;
    border: none;
    font-weight: 600;
}

.ingredients .nav .nav-item .nav-link.active {
    background-color: var(--main-color) !important;
    color: white !important;

}

.ingredients .ingredients-card {
    margin-top: 10px;
    background-color: var(--main-bg-color);
    color: black;
    border-radius: 15px;
    border: none;

}

.ingredients .tab-content>.tab-pane {

    font-weight: 600;
    text-align: left;
    font-size: 16px;
}


.offcanvas-body form {
    overflow-x: hidden !important;
}

.image-container label>i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 80px;
    opacity: 0.5;
    color: #4b4b4b;
}

.image-container #image-spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #26908C;

}

/************* allRecipes-offcanvas  **********************/
.offcanvas-end {
    width: 100% !important;
}

.allRecipes .allRecipes-body::-webkit-scrollbar {
    overflow: hidden;
    display: none;
}

.allRecipes {
    position: fixed;
    bottom: 0;
    z-index: 1050;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    visibility: hidden;
    background-color: #fff;
    background-clip: padding-box;
    outline: 0;
    transition: transform .3s ease-in-out;
    border: none;

}

.allRecipes .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1rem;
}

.allRecipes .header #closeAllRecipes {
    background: transparent;
    width: 37px;
    height: 31px;
    border-radius: 7px;
    border: 1px solid #b6b6b6cc;
}

.allRecipes.show {
    transform: none;
}


.allRecipes-body {
    padding: 0px 15px 0px 35px;
    overflow-y: scroll;
    overflow-x: hidden !important;
}