@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background-color: rgb(33, 33, 33);
    max-width: 700px !important;
    margin: auto;

}

#loading {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100vw;
    height: 100vh;
    background-color: rgb(15 15 17 / 97%);
}

#spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

:root {
    --main-color: #20a885;
}

a {
    text-decoration: none;
}

/************* navbar  **********************/
.navbar {
    background-color: rgb(33, 33, 33) !important;
}


.user-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.user-container .user-name {
    padding-bottom: 10px;
    font-weight: 700;
    color: white;
}

.user-container span:last-child {
    font-size: 12px;
    color: #8a8a8a;
}

.user-imge-container {
    width: 45px;
    height: 45px;
    border-radius: 9999px;

}

.user-imge-container img {
    width: 100%;
    height: 100%;
    border-radius: 9999px;
}

/************* search  **********************/
.search-field {
    margin: 20px 0px !important;
    background-color: rgb(45, 45, 45);
    border-radius: 9999px !important;
    border: none !important;
    color: white;
}

.search-field span {
    background: transparent;
    border-right: none !important;
    border-radius: 50%;
    border: none !important;
    color: white !important
}

.search-field input {

    border-left: none !important;
    border: none !important;
    outline: none !important;
    border-top-right-radius: 9999px !important;
    border-bottom-right-radius: 9999px !important;
    background-color: rgb(45, 45, 45) !important;
    color: white !important;

}

/************* recommend-recipes  **********************/

.recommend-recipes {
    -webkit-overflow-scrolling: touch;
    margin: 30px 0px;

}


.recommend-recipes>strong {
    font-size: 14px;
    color: white;
}

.recommend-recipes-row .card {

    margin: 20px 10px;
    border-radius: 15px;
    background-color: transparent !important;

}


.recommend-recipes-row .card img {
    height: 175px !important;
    border-radius: 15px;

}

.recommend-recipes-row .card .card-img-overlay {
    top: auto;
    bottom: 0;
    background-image: linear-gradient(to top, rgb(0, 0, 0), rgb(0 0 0 / 72%));
    padding: 2px 20px !important;
    border-radius: 15px;
    text-align: center;
    border: none !important;

}

.recommend-recipes-row .card .card-img-overlay .card-title {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    color: #dedede;
    font-size: 16px;
}

.recommend-recipes-row .card .card-img-overlay .recipe-kcal-Time {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: #dedede;
    font-size: 14px;
}

/************* header && see see all  **********************/
.header {
    margin: 10px 1px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;

}

.header strong {
    color: white;
}

.header .see-all {
    color: rgb(255, 195, 11);
}

/************* categories  **********************/
.categories .categories-row::-webkit-scrollbar {
    overflow: hidden;
    display: none;
}

.categories {
    margin: 20px 0px;
}

.categories .categories-row {
    display: flex;
    align-items: center;
    overflow: scroll;
}



.categories .category {
    margin: 10px 15px 10px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100px;
    width: 70px;
    background-color: rgb(45, 45, 45);
    border-radius: 50px;
    padding: 10px;
    box-shadow: 0.3rem 0.125rem 0.34rem rgb(27 27 27) !important;
}


.categories .category .image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 4px;
    width: 60px;
    height: 60px;
    border-radius: 100%;

    text-align: center;
}

.categories .category .image-container img {
    width: 45px;
    height: 45px;
    border-radius: 100%;


}

.categories .category .title {
    color: white;
    font-size: 14px;
    font-weight: 600;
}

.category.active--category {

    background-color: rgb(255, 194, 13) !important;
}

.category.active--category>div {
    background-color: #fff;
}

.category.active--category>span {
    color: black !important;
}


/************* top Recipes  **********************/


.top-recipes-row {
    margin: 20px 2px 10px 25px;
}

.top-recipe-item {
    margin: 35px 10px;
    position: relative;
    background-color: rgb(45, 45, 45);
    height: 107px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    box-shadow: 0.35rem 0.125rem 0.4rem rgb(27 27 27) !important;
    flex-direction: row;
    text-decoration: none;
    width: 95%;
}

.top-recipe-item .image-container {
    margin-left: -30px;
    height: 120px;
    width: 120px;
    border-radius: 9999px;
    box-shadow: 0.35rem 0.125rem 0.25rem rgb(27 27 27) !important;
}

.top-recipe-item .image-container img {
    height: 100%;
    width: 100%;
    border-radius: 9999px;

}

.top-recipe-item .top-recipe-item-details {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 70%;
}

.top-recipe-item .top-recipe-item-details .title {
    font-size: 16px;
    color: white;
    overflow: hidden;
    vertical-align: middle;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    margin-bottom: 15px;
    text-align: center;
}

.top-recipe-item .top-recipe-item-details .recipe-kcal-Time {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: rgb(151, 151, 151) !important;
    font-size: 14px;

}


/************* top-recipe-offcanvas  **********************/
.top-recipe-offcanvas {
    height: 100% !important;
    background-color: rgb(40, 40, 40) !important;
    border-top: none !important;
}


.top-recipe-offcanvas .offcanvas-header {
    background-color: rgb(33, 33, 33);
    color: white !important;
}


.top-recipe-offcanvas .offcanvas-header .close-btn,
.btn-fav {
    background-color: rgb(40, 40, 40);
    color: white !important;
    width: 32px !important;
    height: 32px !important;
    padding: 0px !important;
    border: none;
    opacity: 1px !important;
    border-radius: 5px;

}

.top-recipe-offcanvas .offcanvas-body {
    padding: 0 !important;
    background-color: rgb(40, 40, 40);



}

.top-recipe-offcanvas .offcanvas-image-container {

    background-color: rgb(33, 33, 33);
    display: flex;
    justify-content: center;

}

.top-recipe-offcanvas .offcanvas-image-container .image {

    height: 200px;
    width: 200px;
    border-radius: 9999px;
    margin-bottom: 50px;
}

.top-recipe-offcanvas .offcanvas-image-container .image img {
    height: 100%;
    width: 100%;
    border-radius: 9999px;

}

.offcanvas-recipe-details {
    margin-top: -15px;
    background-color: rgb(40, 40, 40);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 10px 15px 30px 15px;
    color: white;

}

.offcanvas-recipe-details-header {

    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}


.offcanvas-recipe-details-header .header-border {
    border: 2px solid #cbcbcb85 !important;
    width: 16%;
    border-radius: 15px;
}

.offcanvas-recipe-details-header .recipe-label {
    margin-top: 10px;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
}

.offcanvas-recipe-details .recipe-time-kcal {
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 90%;
    align-content: center;
    align-items: center;
}

.offcanvas-recipe-details .recipe-time-kcal i {
    font-size: 19px;
    color: rgb(255, 194, 13);
    margin-bottom: 5px;
}

.offcanvas-recipe-details .recipe-time-kcal>div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.offcanvas-recipe-details .recipe-time-kcal .recipe-time-kcal-border {
    border-left: 1px solid rgb(58, 58, 58) !important;
    height: 30px;
}

.offcanvas-recipe-details .nutrients {
    margin: 30px 20px;
}

.offcanvas-recipe-details .nutrients .nutrition-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
    justify-content: space-between;
    font-size: 16px;
}

.offcanvas-recipe-details .nutrients .nutrition-row .nutrition-element {
    display: flex;
    flex-direction: row;
}

.offcanvas-recipe-details .nutrients .nutrition-row .nutrition-element .image-container {
    margin-right: 10px;
    margin-bottom: 8px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    background-color: rgb(213 213 213);
    border-radius: 5px;
}

.offcanvas-recipe-details .nutrients .nutrition-row .nutrition-element .image-container img {
    width: 20px;
    height: 20px;
}

.offcanvas-recipe-details .ingredients .nav {
    background-color: rgb(33, 33, 33);
    border-radius: 50px;
    width: 100%;
    margin-bottom: 10px;
}

.offcanvas-recipe-details .ingredients .nav .nav-item {
    width: 50%;
    padding: 5px;
}

.offcanvas-recipe-details .ingredients .nav .nav-item .nav-link {
    width: 100%;
    background-color: transparent !important;
    border-radius: 50px;
    color: #ccc;
    border: none;
    font-weight: 600;
}

.offcanvas-recipe-details .ingredients .nav .nav-item .nav-link.active {
    background-color: rgb(40, 40, 40) !important;

}

.offcanvas-recipe-details .ingredients .ingredients-card {
    margin-top: 10px;
    background-color: rgb(33, 33, 33);
    color: white;
    border-radius: 15px;

}