@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}




.form-control:focus,
a:focus,
button:focus,
input:focus {
    border-color: inherit;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

:root {
    --main-color: #26908C;
    --main-bg-color: #f0f0f0;
}

.btn-primary {
    background-color: var(--main-color) !important;


}

.bg-danger {
    background-color: #c12837 !important;

}

.bg-primary {
    background-color: var(--main-color) !important;
    color: white !important;
}

.toast {
    position: fixed;
    top: 15px !important;
    right: 5px !important;
    width: -moz-fit-content;
    width: fit-content;
    color: white;
    border: none;
    z-index: 9999999999999999999999999999999999 !important;
}

.toast-body {}

::-webkit-scrollbar {
    overflow-y: hidden !important;
    display: none !important;

}


body {
    background-color: var(--main-bg-color);
    max-width: 700px !important;
    margin: auto;
    overflow-y: scroll;

}

#loading {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100vw;
    height: 100vh;
    background-color: rgb(255 255 255 / 99%);
}

#spinner {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-40%, -50%);
    color: var(--main-color);

}



a {
    text-decoration: none;
}

/************* navbar  **********************/
.navbar {
    padding: 15px 5px;
    background-color: var(--main-bg-color) !important;
}


.user-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.user-container .user-name {
    padding-bottom: 10px;
    font-weight: 700;
    font-size: 19px;
}

.user-container span:first-child {
    font-size: 13px;
    color: #8a8a8a;
    font-weight: 600;
}

.user-imge-container {
    width: 50px;
    height: 50px;
    border-radius: 9999px;

}

.user-imge-container img {
    width: 100%;
    height: 100%;
    border-radius: 9999px;
}

/************* footer  **********************/
footer {
    position: fixed;
    bottom: 10px;
    left: 0;
    right: 0;
    background-color: white !important;
    width: 97%;
    margin: 0px auto;
    align-items: center;
    border-radius: 50px;
    border: 1px solid #eaeaea;

}

footer ul {
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    font-size: 20px;

}

footer ul li a i {
    color: #4a4a4a;
    border-radius: 100%;
}




.add-recipe-icon a i {
    border: 1px solid white;
    color: var(--main-color) !important;
    border-radius: 100%;
    transform: scale(2.3);

}



main#app {
    margin-bottom: 100px;
}

.offcanvas {
    border: none !important;
}

.offcanvas-bottom {
    height: 100% !important;
}

/************* search  **********************/
.search-field {
    margin: 10px 15px !important;

}

.search-field .input-group {
    padding: 5px;
    background-color: white;
    border-radius: 9999px !important;
    border: none !important;
    color: white;
    box-shadow: 0.3rem 0.125rem 0.34rem rgba(0, 0, 0, .075) !important;
}

.search-field .input-group button {
    background: transparent;
    border-right: none !important;
    border-radius: 50%;
    border: none !important;
}

.search-field .input-group input {

    border-left: none !important;
    border: none !important;
    outline: none !important;
    border-top-right-radius: 9999px !important;
    border-bottom-right-radius: 9999px !important;
    background-color: white !important;

}

/************* recommend-recipes  **********************/

.recommend-recipes {

    margin: 20px 0px !important;

}



.recommend-recipes>strong {
    margin: 0px 10px;
    font-size: 14px;
}


.recommend-recipes-row .card {
    background-color: var(--main-color) !important;
    min-height: 235px !important;
    margin: 30px;
    width: 150px !important;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0.3rem 0.125rem 0.34rem rgb(0 0 0 / 20%) !important;
    transition: all 1s ease-in-out;

}

.recommend-recipes-row .card.slick-center {
    transform: scale(1.1);

}

.recommend-recipes-row .card .card-body {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.recommend-recipes-row .card .card-image-container {
    position: absolute;
    right: -5px;
    top: 15px;
    height: 125px;
    width: 125px;
    border-radius: 9999px;
    overflow: hidden;
    box-shadow: 0.35rem 0.125rem 0.34rem rgb(0 0 0 / 60%) !important;
}

.recommend-recipes-row .card .card-image-container img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}






.recommend-recipes-row .card .card-body .card-title {
    max-height: 45px;
    max-width: 125px;
    font-size: 13px;
    color: white;
    overflow: hidden;
    vertical-align: middle;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    font-weight: 600;
}

.recommend-recipes-row .card .card-body .recipe-kcal-Time {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #bcbcbc;
    font-size: 13px;
}

.slick-track {
    margin: 0 !important;
}

/************* header && see see all  **********************/
.header {
    margin: 10px 1px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;

}

.header .see-all {
    color: var(--main-color);
}

/************* categories  **********************/
.categories .categories-row::-webkit-scrollbar {
    overflow: hidden;
    display: none;
}

.categories {
    margin: 20px 0px;
}

.categories .header {
    margin: 10px;
}

.categories .categories-row {
    display: flex;
    align-items: center;
    overflow: scroll;
    padding: 10px 0px;
}



.categories .category {
    margin: 10px 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 50px;
    background-color: white;
    border-radius: 50px;
    padding: 20px 10px 20px 7px;
    box-shadow: 0.3rem 0.125rem 0.34rem rgba(0, 0, 0, .075) !important;
}

.categories .category:first-child {
    margin-left: 11px;

}

.categories .category:last-child {
    margin-right: 15px;

}

.categories .category .image-container {
    text-align: center;
    margin-right: 8px;
    width: 40px;
    height: 40px;
    border-radius: 100%;
}

.categories .category .image-container img {
    width: 90%;
    border-radius: 100%;

}

.categories .category .title {
    color: rgb(0, 0, 0);
    font-size: 14px;
    font-weight: 600;
}

.category.active--category {

    background-color: var(--main-color) !important;
}

.category.active--category>div {
    background-color: #fff;
}

.category.active--category>span {
    color: black !important;
}


/************* top Recipes  **********************/
.top-recipes .header {
    margin: 10px;
}

.top-recipes-row {
    margin: 15px 15px 25px 40px;
}

.top-recipe-item {
    margin: 35px 10px;
    position: relative;
    background-color: white;
    height: 107px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    box-shadow: 0.3rem 0.125rem 0.34rem rgb(0 0 0 / 8%) !important;
    flex-direction: row;
    text-decoration: none;
    width: 95%;
}

.top-recipe-item .image-container {
    margin-left: -30px;
    height: 120px;
    width: 120px;
    border-radius: 9999px;
    box-shadow: 0.3rem 0.125rem 0.34rem rgb(0 0 0 / 70%) !important;

}

.top-recipe-item .image-container img {
    height: 100%;
    width: 100%;
    border-radius: 9999px;

}

.top-recipe-item .top-recipe-item-details {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 70%;
}

.top-recipe-item .top-recipe-item-details .title {
    padding: 5px;
    font-size: 16px;
    color: black;
    overflow: hidden;
    vertical-align: middle;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    margin-bottom: 15px;
    text-align: center;
}

.top-recipe-item .top-recipe-item-details .recipe-kcal-Time {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: rgb(151, 151, 151) !important;
    font-size: 14px;

}


/************* top-recipe-offcanvas  **********************/

.top-recipe-offcanvas .offcanvas-body::-webkit-scrollbar {
    overflow: hidden;
    display: none;
    z-index: 796896896896896789898;
}

.top-recipe-offcanvas {
    width: 100% !important;
    border: none !important;
}


.top-recipe-offcanvas .offcanvas-header {
    color: white !important;
    margin: 0px !important;
    padding: 0px !important;
    width: 100%;
    max-height: 45% !important;
    position: relative;
}

.top-recipe-offcanvas .offcanvas-header .header-btns,
.header-btns {
    position: absolute;
    top: 14px;
    z-index: 4234343;
    left: 10px;
    right: 10px;
    display: flex;
    justify-content: space-between;
}

.image-container {
    position: relative;
}

.top-recipe-offcanvas .offcanvas-header .image-container img {
    object-fit: contain;
}

.image-container,
.image-container img {

    height: 100%;
    width: 100%;


}

.top-recipe-offcanvas .offcanvas-header .back-btn,
.back-btn,
.fav-btn {
    background-color: var(--main-bg-color);
    width: 40px !important;
    height: 40px !important;
    line-height: 40px;
    padding: 0px !important;
    border: none;
    text-align: center;
    border-radius: 9999px;

}

.top-recipe-offcanvas .offcanvas-header .back-btn i,
.back-btn i {
    font-size: 19px;
    font-weight: bold;
}

.fav-icon {
    width: 26px !important;
    height: 26px !important;
    font-weight: bold;
    stroke: black;
    stroke-width: 2;

    fill: none;
}

.fav-icon.in-favorite-list {
    stroke: none;
    fill: #51c0a9;
}

.btn-fav {
    position: absolute;
    top: -13px;
    right: 14px;
    background-color: var(--main-color);
    color: white !important;
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075) !important;
}







.offcanvas-recipe-details-header {
    width: 100%;
    text-align: center;
    padding: 0px 25px;
    position: absolute;
    color: black;
    bottom: -35px;
    z-index: 99999999999999568595 !important;

}

.offcanvas-recipe-details-header .card {
    border-radius: 15px;
    border: none !important;
    box-shadow: 0.3rem 0.125rem 0.34rem rgb(0 0 0 / 20%) !important;

}

.offcanvas-recipe-details-header .card .card-body {
    margin-top: 5px;
    padding: 7px;
}

.offcanvas-recipe-details-header .header-border {
    border: 2px solid #cbcbcb85 !important;
    width: 16%;
    border-radius: 15px;
    margin-top: 10px;
}

.offcanvas-recipe-details-header .recipe-label {

    font-size: 16px;
    font-weight: 600;
    text-align: center;
}

.offcanvas-recipe-details-header .recipe-time-kcal {
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 90%;
    align-content: center;
    align-items: center;
}

.offcanvas-recipe-details-header .recipe-time-kcal i {
    font-size: 19px;
    color: #ffb81e;
}

.offcanvas-recipe-details-header .recipe-time-kcal>div {
    display: flex;
    align-items: center;
    align-items: center;
    gap: 9px;
}

.offcanvas-recipe-details-header .recipe-time-kcal .recipe-time-kcal-border {
    border-left: 1px solid rgb(58, 58, 58) !important;
    height: 30px;
}

/* ******* offcanvas-body ******* */

.top-recipe-offcanvas .offcanvas-body {
    z-index: 12;
    padding: 60px 0px 0px 0px !important;
    margin-top: -25px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    background-color: white;
}

.offcanvas-recipe-details {
    margin-bottom: 30px;
    height: 100%;
    padding: 10px 15px 30px 15px;
    color: black;

}

.offcanvas-recipe-details .nutrients {
    margin: 10px 20px 30px 20px;
}

.offcanvas-recipe-details .nutrients .nutrition-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: black;
    justify-content: space-between;
    font-size: 16px;
}

.offcanvas-recipe-details .nutrients .nutrition-row .nutrition-element {
    display: flex;
    flex-direction: row;
}

.offcanvas-recipe-details .nutrients .nutrition-row .nutrition-element .image-container {

    margin-right: 10px;
    margin-bottom: 8px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    background-color: var(--main-bg-color);
    border-radius: 5px;
}

.offcanvas-recipe-details .nutrients .nutrition-row .nutrition-element .image-container img {
    width: 20px;
    height: 20px;
}

.ingredients {
    padding-bottom: 40px;

}

.ingredients .nav {
    background-color: var(--main-bg-color);
    border-radius: 50px;
    width: 100%;

}

.ingredients .nav .nav-item {
    width: 50%;
    padding: 5px;
}

.ingredients .nav .nav-item .nav-link {
    width: 100%;
    background-color: transparent !important;
    border-radius: 50px;
    color: black;
    border: none;
    font-weight: 600;
}

.ingredients .nav .nav-item .nav-link.active {
    background-color: var(--main-color) !important;
    color: white !important;

}

.ingredients .ingredients-card {
    margin-top: 10px;
    background-color: var(--main-bg-color);
    color: black;
    border-radius: 15px;
    border: none;

}

.ingredients .tab-content>.tab-pane {

    font-weight: 600;
    text-align: left;
    font-size: 16px;
}


/************* allRecipes-offcanvas  **********************/
.allRecipes-end {
    width: 100% !important;
}

.allRecipes-end {
    top: 0;
    right: 0;
    width: 400px;
    border-left: 1px solid rgba(0, 0, 0, .2);
    transform: translateX(100%);
}

.allRecipes .allRecipes-body::-webkit-scrollbar {
    overflow: hidden;
    display: none;
}

.allRecipes {
    position: fixed;
    bottom: 0;
    z-index: 1050;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    visibility: hidden;
    background-color: #fff;
    background-clip: padding-box;
    outline: 0;
    transition: transform .3s ease-in-out;
    border: none;

}

.allRecipes .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1rem;
}

.allRecipes .header #closeAllRecipes {
    background: transparent;
    width: 37px;
    height: 31px;
    border-radius: 7px;
    border: 1px solid #b6b6b6cc;
}

.allRecipes.show {
    transform: none;
}


.allRecipes-body {
    padding: 0px 15px 0px 35px;
    overflow-y: scroll;
    overflow-x: hidden !important;
}

/************* new recipe offcanvas  **********************/
.recipe-input {
    background-color: white;
    border-radius: 9999px !important;
    border: 0.1px solid #ced4daa8 !important;
    box-shadow: 0.3rem 0.125rem 0.34rem rgba(0, 0, 0, .075) !important;

}



.offcanvas-body form {
    overflow-x: hidden !important;
}

.imageContainer {
    height: 320px;
    width: 320px;
    margin: 0px auto;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.imageContainer label {
    position: relative;
    width: 100%;
    height: 100%;
}

.imageContainer img {
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.upload-image {
    width: 287px !important;

}

.imageContainer label>i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 80px;
    opacity: 0.2;
    color: #4b4b4b;
}

.imageContainer #image-spinner {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -30%);
    color: #26908C;

}



.icon-primary i {
    text-align: center;
    color: var(--main-color);
    font-size: 40px;
}

.form-submit-icon {
    width: 40px;
    height: 40px;
    background-color: var(--main-color);
    border-radius: 100%;
    text-align: center;
}

.form-submit-icon i {
    text-align: center;
    color: white;
    font-size: 29px;
    line-height: 40px;
}

#new-ingredients .icon-primary i {
    margin: 20px 0px;


}

.font-size-25 {
    font-size: 25px;
}

/************* login page  **********************/

.login-page {
    position: relative;
    overflow: hidden;
}

.login-page .row {
    position: fixed;
    bottom: 20px;
    left: 0;
    right: 0;
}

.login-page .label {
    margin-left: 20px;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 1), rgb(0 0 0), rgb(0 0 0), rgb(0 0 0 / 14%), rgb(0 0 0 / 0%));
}

.login-page .label h1 {
    max-width: 50%;
    color: white;
    font-weight: 600;
}

.login-page .label p {
    color: rgb(159, 159, 159);
    max-width: 67%;
    font-size: 15px;
}

.login-page .login-register-btns {

    display: flex;
    flex-direction: column;
    padding: 10px 30px 20px 30px;
    gap: 1rem;


}

.login-page .login-register-btns button {
    padding: 20px;
    border-radius: 15px;
    color: white;
    border: 1px solid var(--main-color) !important;
}

.login-page .login-register-btns button:last-child {
    background-color: transparent;

}



.login-register-modal {
    height: 70% !important;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border: none !important;
}

.login-register-modal .offcanvas-header {
    justify-content: center !important;
}

.header-border {
    align-self: center;
    width: 20%;
    border: 2px solid #ccc;
    background: #ccc;
    border-radius: 25px;
}

.userAuth {
    background-color: #fff;
    width: 100%;
    overflow-x: hidden;
    padding: 10px;
}

.userAuthHeading {
    margin-top: 40px;
    width: 100%;
    position: relative;
    border-bottom: 1px solid #eee;
}

.userAuthHeadingTab--active,
.userAuthHeadingTab--invalid {
    padding: 0.7rem !important;
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%) !important;
}


.userAuthHeadingTab--invalid {
    color: #c12837 !important;
    border-bottom: 2px solid #c12837 !important;
}

.userAuthHeadingTab {
    color: #51c0a9 !important;
    border-bottom: 2px solid #51c0a9;

    font-weight: 600;
    font-size: 15px;
    height: 50px;
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}

.userAuthHeading.register__active:after {
    transform: translateX(100%);
}




#login-modal .modal-content,
#register-modal .modal-content {
    border: none !important;
    background: transparent !important;
}

.social-btns li a {
    margin-top: 15px;
    border-radius: 5px;
    padding: 13px 4px !important;
    font-size: 13px !important;
    color: #fff;
    display: block;
    line-height: 1;
    text-transform: none;
    letter-spacing: 0;
    text-align: center;

}


.social-btns li .btn-danger {

    background-color: rgb(248, 48, 48) !important;
    border: none !important;
}



/************* account page *********************/
.account-page {
    position: fixed;
    bottom: 0;
    top: 0;
    right: 0;
    z-index: 1050;
    visibility: visible;
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #fff;
    outline: 0;
    border: none;
    background-color: var(--main-bg-color);
}

.account-page-header {
    background-color: var(--main-bg-color);
    height: 40%;
    position: relative;
    display: flex;
    flex-direction: column;
}

.account-page-header header {
    position: absolute;
    top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1rem;
    width: 100%;
}

.account-page-header header a {

    color: black;

}

.account-page-header header a i {

    font-size: 20px;

}

.account-wrapper {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-55%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;


}

.opacity-3 {
    opacity: 0.3;

}

.account-wrapper #image-spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.account-image-container {
    position: relative;
    width: 135px !important;
    height: 135px !important;
    overflow: hidden;
    border-radius: 100%;
    box-shadow: 0.35rem 0.125rem 0.34rem rgb(0 0 0 / 60%) !important;

}

.account-image-container img {
    width: 100%;
    height: 100%;
    position: relative;
}

.account-image-container span {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #000000a6;
    text-align: center;
    font-family: monospace;
    font-size: 15px;
    color: #9b9b9b;
    padding: 1px;

}

.account-wrapper .user-name {
    margin-top: 12px;
}

.account-page-body {
    height: 70% !important;
    padding: 10px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    background-color: white;

}

.account-page-body ul {
    list-style: none;
    padding: 15px;
}

.account-page-body ul li a {
    display: flex;

    justify-content: center;
    align-items: baseline;
}

.account-form-labal {
    padding: 10px;
}

.profile-card-header {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    background-color: transparent;
    text-transform: uppercase;
    padding: 0.5rem 1rem;
    margin-bottom: 0;
    border-bottom: 1px solid rgba(0, 0, 0, .125);

}